In [12]:
from root_pandas import read_root
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
file_root = '../reco_run08006_3D_unet_p0.root'
output_rec_df = read_root(file_root)
output_rec_exp_df = output_rec_df[['run', 'event', 'nSc', 'sc_integral']].explode('sc_integral')
total_energy_df = output_rec_exp_df.groupby(['run', 'event']).agg({'sc_integral': 'sum'}).reset_index()

In [19]:
total_energy_df.to_csv('../total_energy_df_winter22_unet.csv')

In [20]:
total_energy_df

     run  event   sc_integral
0   8006      0  31192.283203
1   8006      1  31154.910156
2   8006      2  31141.558594
3   8006      3  30891.996094
4   8006      4  30305.349609
..   ...    ...           ...
95  8006     95  30572.851562
96  8006     96  31817.626953
97  8006     97  31007.660156
98  8006     98  30896.746094
99  8006     99  30891.320312

[100 rows x 3 columns]